:root {
  --primary-color: rgb(3, 3, 3);
  --secondary-color: rgb(3, 169, 244);
  --tertiary-color: rgb(21, 189, 210);
  --largest-font: 4rem;
  --larger-font: 3rem;
  --large-font: 2rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f6f8;
  padding: 1rem;
  color: var(--primary-color);
  word-wrap: break-word;
}

.timeTracker {
  width: calc(100% - 2rem);
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeTracker__main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
  width: 80%;
}

.timeTracker__ctl {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.entryDetails__description {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border: 2px solid transparent;
  outline: none;
  transition: 0.3s all ease-in-out;
}

.entryDetails__description:active,
.entryDetails__description:hover {
  border: 2px solid rgb(0, 0, 0, 0.1);
}

.entryDetails__project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 1rem;
}

.entryDetails__projectSelectButton {
  font-size: 1rem;
  color: var(--secondary-color);
  border: none;
  background: transparent;
  cursor: pointer;
}

.entryDetails__projectSelectButton:hover {
  text-decoration: underline;
}

.entryDetails__promptBox {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 60%;
  background-color: white;
  border-radius: 10px;
  padding: 10px 0;
  z-index: 2;

  text-align: center;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entryDetails__projectName {
  font-size: 1rem;
  color: var(--tertiary-color);
}

.entryDetails__newProjectName {
  text-transform: uppercase;
  background-color: transparent;
  color: var(--secondary-color);
  border: none;
  padding: 1rem;
}

.entryDetails__newProjectName:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.entryDetails__promptSelect {
  margin: 1rem;
  padding: 1rem;
  width: 50%;
  -webkit-appearance: none;
  background-color: transparent;
}

.entryDetails__promptClose {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.entryDetails__timeValue {
  padding: 1rem;
}

.entryDetails__ctlbtn {
  font-size: 1rem;
  line-height: 2rem;
  padding: 0 1rem;
  text-transform: uppercase;
  background-color: var(--secondary-color);
  color: white;
  border: 2px solid transparent;
  cursor: pointer;
}

.entryDetails__ctlbtn--running {
  background-color: rgb(255, 83, 83);
}

.entryDetails__timediscard {
  padding: 1rem;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

.entryDetails__timediscard--disp {
  opacity: 1;
  pointer-events: unset;
}

.project  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}

.project__header  {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
}

.project__name,
.project__time  {
  font-size: 1rem;
  font-weight: bold;
}

.project__records {
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.project__record  {
  width: 100%;
  padding: 0 2rem 0 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.project__record:last-child {
  border-bottom: none;
}

.record__desc {
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid transparent;
  outline: none;
  transition: 0.3s all ease-in-out;
  flex-grow: 2;
}

.record__desc:active,
.record__desc:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.record__startDate,
.record__startTime,
.record__endTime,
.record__time {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

/* Desktop only */
@media only screen and (min-width: 1024px) {
}

/* Mobile and Tablet (i think?) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile only (i think?) */
@media only screen and (max-width: 767px) {
  .timeTracker {
    width: 100%;
    padding: 1rem 0;
    flex-direction: column;
  }
  .entryDetails__promptBox  {
    left: 5%;
    width: 90%;
  }
}
